* {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(19,150,30,0.75),rgba(27, 189, 238, 0.75)),url(../img/background.jpeg);
    background-size: cover;
    background-position: top;
    position:relative;
    clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
}

.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo{
    height: 5rem;
}

.text-box{
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 100%;
}

.primary{
    color: white;
    text-transform: uppercase;
}

.main{
    display:block;
    font-size: 9rem;
    letter-spacing: 2rem;
    animation-name: MoveInLeft;
    animation-duration: 1s;
}

.sub{
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    animation-name: MoveInRight;
    animation-duration: 2s;
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
    padding: 1.5rem 4rem;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10rem 20rem rgba(0,0,0,0.3);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
}

.btn-white{
    background-color: white;
    color: gray;
}

@keyframes MoveInLeft{
    0% {
        opacity:0;
        transform: translateX(-15rem);
    }
    75% {
        opacity:0.75;
        transform: translateX(1rem);
    }  
    100% {
        opacity:1;
        transform: translate(0);
    }
}

@keyframes MoveInRight{
    0% {
        opacity:0;
        transform: translateX(+15rem);
    }
    75% {
        opacity:0.75;
        transform: translateX(-1rem);
    }  
    100% {
        opacity:1;
        transform: translate(0);
    }
}